{% extends 'RemotePadMainBundle:Layout:modal.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/loginManager.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
    
    var loginManager;
    
    $(document).ready(function() {

        var applicationPath = "{{ path('RemotePadMainBundle_homepage') }}";
        loginManager = LoginManager(applicationPath);               
        loginManager.initEvents();
        
    });
    
    </script>
{% endblock %}


{% block modalId %}rp_loginModal{% endblock %}

{% block modalHeader %}
    {{ parent() }}
    <h3>Log In</h3>
{% endblock %}

{% block modalBody %}
    {% render url('fos_user_security_login') %}
{% endblock %}

{% block modalButton %}
    <a href="#" class="cancel btn" data-dismiss="modal">Close</a>
{% endblock %}